
@{
    ViewData["Title"] = "Food Items List";
    var foodItems = ViewData["foodItemsList"] as IEnumerable<FoodItem>;
    var restaurant = ViewData["restaurant"] as Restaurant;
}
@* <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head> *@

<h2>Food Items List for Restaurant @restaurant.RestaurantName</h2>

@* <table>
    <thead>
        <tr>
            <th>Food Name</th>
            <th>Price</th>
            
           
        </tr>
    </thead>
    <tbody>
        @foreach (var food in foodItems)
        {
            <tr>
                
                <td>@food.FoodName</td>
                <td>@food.Price</td>
                <td> <a asp-controller="FoodItems" asp-action="AddProductToCart" asp-route-id="@food.Id" class="btn btn-info">Add to Cart</a></td>
                
            </tr>
           

        }
    </tbody>
</table>
 *@

<div class="row">
    @foreach (var food in foodItems)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="@food.FoodImage" alt="@food.FoodName">
                <div class="card-body">
                    <h5 class="card-title">@food.FoodName</h5>
                    <p class="card-text">@food.Price</p>
                    <a asp-controller="FoodItems" asp-action="AddProductToCart" asp-route-id="@food.Id" class="btn btn-info">Add to Cart</a>
                </div>
            </div>
        </div>
    }
</div>