@model List<EShop.Domain.Domain.Restaurant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Restaurants</h1>

<div class="container">
    <div class="m-3">
        <a class="btn btn-success" asp-controller="Restaurants" asp-action="Create">Add new restaurant</a>

    </div>

    @for(int i=0;i<Model.Count; i++)
    {
        var item = Model[i];
        if(i % 3 == 0)
        {
            @:<div class="row">
        }
        <div class="col-3 m-4">

            <div class="card" style="width: 18rem; height: 35rem">
                <img class="card-img-top" src="@item.RestaurantImage" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.RestaurantName</h5>
                    <p class="card-text">@item.RestaurantDescription</p>
                    <h6>Location: @item.RestaurantLocation</h6>
                </div>
                <div class="card-footer">
                    <a asp-controller="Restaurants" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                   
                    <a asp-controller="Restaurants" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>

                  
                    <a asp-controller="Restaurants" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>

                     <a asp-controller="Restaurants" asp-action="ShowFoodItems" asp-route-id="@item.Id" class="btn btn-primary">Menu</a>
                  
               
                
                  
                </div>

            </div>
        </div>

        if(i % 3 == 2)
        {
            @:</div>
        }
    }
</div>